.formArea {
  width: 40%;
  margin: 0 auto;
  padding: 0 !important;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-family: "Product Sans", sans-serif !important;
}
.formArea h1 {
  font-family: Product Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #4e598c;
}
.tab {
  width: 33% !important;
  text-transform: capitalize !important;
  font-family: "Product Sans", sans-serif !important;
  text-align: left !important;
  font-size: 15px !important;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.cta {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cta > button {
  margin: 0 30px;
  font-family: "Product Sans" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  border: none;
  outline: none;
  min-width: 130px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
}
.cta > button:first-child {
  background: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);

  color: #fff;
}
.cta > button:last-child {
  color: #4e598c;
  background: transparent;
  margin-left: 10px;
}

.cta > button:first-child:hover {
  background: #fff;
  color: #f2994a;
  border: 1px solid #f2994a;
  transition: 300ms ease-in;
}

.cta > button:last-child:hover {
  background: #4e598c;
  color: #fff;
  transition: 300ms ease-in;
}

@media only screen and (max-width: 1200px) {
  .formArea {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .formArea {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .formArea {
    width: 90%;
  }
  .formArea h1 {
    font-size: 20px;
  }
  .tab {
    font-size: 10px !important;
  }
  .cta > button {
    font-size: 12px;
    min-width: 100px;
    border-radius: 6px;
  }
}
